*~
*.log
log
nohup.out
*.tgz
*.tar.gz
*.gz
*.pyc
*.egg-info/
__pycache__/

/catalog/
/dist/
/test/
/harvester/ckanlist_*.json
/harvester/jsonl/

/django-backend/xckan/ckanlist.json
/django-backend/xckan/cache
/django-backend/xckan/logs/*
/django-backend/staticfiles

/docker/volumes

.env
/django-backend/*.sq3
!.gitkeep
